@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.prose h2 a,
.prose h3 a {
  @apply no-underline text-foreground;
}

.prose h2 a::after,
.prose h3 a::after {
  @apply content-['#'] ml-2 opacity-0 hover:opacity-100 transition-opacity;
}
